#header {
    width: 100dvw;
    height: 100%;
    background-color: #FFFFFF;
}

//ESTILOS NAV

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17dvh;
    width: 100%;
    padding-right: 64px;
    padding-left: 64px;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 150;
}

#navLogo {
    width: 160px;
    height: 44px;
    object-fit: contain;
}

#navUtilities {
    height: 108px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}


#navUtilitiesButton {
    background-color: #F5B027;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 100;
    &:hover {
        background-color: #F8CD78;
    }
}

#navUtilitiesButtonText {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

//ESTILOS HEADER CONTENT

#headerContent {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    width: 100%;
    height: 83dvh;
    padding-top: 17dvh;
}

#headerContentCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83dvh;
    justify-content: center;
    gap: 24px;
}

#headerCorona {
    width: 24px;
    height: 25px;
}

#headerH1 {
    color: #000000;
    font-weight: 800;
    text-align: center;
    font-size: 48px;
}