#secondSection {
    width: 100%;
    padding: 64px 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5%;
}

#secondSectionH2 {
    color: #000000;
    font-weight: 800;
    font-size: 32px;
    text-wrap-mode: nowrap;
    transition: 1.5s
}

#secondSectionImageAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 20%;
    min-height: 440px;
}

#secondSectionImage {
    height: 379px;
    width: 274px;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.10), 0px 8px 16px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.10), 0px 8px 16px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.10), 0px 8px 16px 0px rgba(0,0,0,0.25);
}

#secondSectionButtonContainer {
    background-color: #F5B027;
    width: 160px;
    height: 34px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.secondSectionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

#secondSectionButtonText {
    font-weight: 400;
    font-size: 10px;
}

.secondSectionButtonIcon {
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 13px;
    transition: .5s;
    cursor: pointer;
    color: #000000;
    &:hover {
        background-color: #7ABDEC;
    }
}

#secondSectionP {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    width: 240px;
    transition: 1.5s;
}

#secondSectionH2Mobile {
    display: none;
    font-size: 28px;
    text-align: center;
    transition: 1.5s
}

#secondSectionButtonContainerMobile {
    display: none;
}

@media(max-width: 835px) {
        #secondSection {
            padding: 64px 16px;
            height: 100%;
            flex-direction: column;
            gap: 48px;
        }

        #secondSectionH2Mobile {
            font-size: 28px;
            text-align: center;
            transition: 1.5s;
            font-weight: 800;
            display: block;
        }
        #secondSectionH2 {
            display: none;
        }

        #secondSectionP {
            text-align: center;
        }
}