#formasComponent {
    position: absolute;
    height: 83dvh;
    width: 100%;
    z-index: 50;
}

#forma1 {
    position: absolute;
    top: 19.64%;
    left: 7.22%;
}

#forma2 {
    position: absolute;
    top: 61.07%;
    left: 7.43%;
}

#forma3 {
    position: absolute;
    top: 43.21%;
    left: 17.85%;
}

#forma4 {
    position: absolute;
    top: 16.07%;
    left: 27.57%;
}

#forma5 {
    position: absolute;
    top: 46.07%;
    left: 32.01%;
}

#forma6 {
    position: absolute;
    top: 77.86%;
    left: 24.65%;
}

#forma7 {
    position: absolute;
    top: 13.04%;
    left: 57.50%;
}

#forma8 {
    position: absolute;
    top:  40.89%;
    left: 67.85%;
}

#forma9 {
    position: absolute;
    top: 81.61%;
    left:  65.56%;
}

#forma10 {
    position: absolute;
    top: 14.64%;
    left: 78.89%;
}

#forma11 {
    position: absolute;
    top: 59.46%;
    left: 80.14%;
}

#forma12 {
    position: absolute;
    top: 37.68%;
    left: 88.68%;
}

#forma13 {
    position: absolute;
    top: 75.54%;
    left: 91.74%;
}

.forma {
    transition: .4s ease-in-out; 
}




//mobile

#formasMobileComponent {
    position: absolute;
    height: 83dvh;
    width: 100%;
    z-index: 50;
}

.formaMobile {
    transition: 1s ease-in-out; 
}


@media(min-width: 836px) {
    #formasMobileComponent {
        display: none;
    }
}

@media(max-width: 835px) {
    #formasComponent {
        display: none;
    }
    #forma5 {
        display: none;
    }
    #forma8 {
        display: none;
    }
    #forma13 {
        display: none;
    }
}

